

.forms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 24px;
    border: 1px solid var(--foreground);
}
.forms form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.categorySection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}


