.projectLink {
  color: #224f22;
  text-decoration: none; /* remove underline */
  font-weight: 600;
}

.projectLink:hover,
.projectLink:focus {
  color: #186018;
  text-decoration: underline; /* optional on hover */
  outline: none;
}